<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="TelerikSource" value=".\packages\telerik" />
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
		<add key="Lib" value=".\packages\lib" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="Microsoft Visual Studio Offline Packages">
			<package pattern="*" />
		</packageSource>
		<packageSource key="TelerikSource">
			<package pattern="Telerik.*" />
		</packageSource>
		<packageSource key="Lib">
			<package pattern="Syrna.Alpha.Icons.*" />
		</packageSource>
	</packageSourceMapping>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<bindingRedirects>
		<add key="skip" value="False" />
	</bindingRedirects>
	<packageManagement>
		<add key="format" value="0" />
		<add key="disabled" value="False" />
	</packageManagement>
</configuration>